<nav class="UnderlineNav">
    <div class="UnderlineNav-body">
        <a class="UnderlineNav-item {% if request.path == "/" or "/index.html" in request.path %}selected{% endif %}" href="{% url 'home' %}">
            <svg height="16" width="16" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M16 9l-3-3V2h-2v2L8 1 0 9h2l1 5c0 .55.45 1 1 1h8c.55 0 1-.45 1-1l1-5h2zm-4 5H9v-4H7v4H4L2.81 7.69 8 2.5l5.19 5.19L12 14z"></path></svg> Overview
        </a>
        <a class="UnderlineNav-item {% if "/blog/" in request.path %}selected{% endif %}" href="{% url 'post_list' %}">
            <svg height="16" width="16" viewBox="0 0 14 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M3 10h4V9H3v1zm0-2h6V7H3v1zm0-2h8V5H3v1zm10 6H1V3h12v9zM1 2c-.55 0-1 .45-1 1v9c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1H1z"></path></svg> Blog <span class="Counter">{{ post_count }}</span>
        </a>
        <a class="UnderlineNav-item {% if "/repos/" in request.path %}selected{% endif %}" href="{% url 'repo_list' %}">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="16" viewBox="0 0 12 16" version="1.1">
    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 5 4 L 4 4 L 4 5 L 5 5 Z M 5 2 L 4 2 L 4 3 L 5 3 Z M 11 0 C 10.5 0 1.5 0 1 0 C 0.5 0 0 0.5 0 1 C 0 1.5 0 12.5 0 13 C 0 13.5 0.5 14 1 14 C 1.5 14 3 14 3 14 L 3 16 L 4.5 14.5 L 6 16 L 6 14 C 6 14 10.5 14 11 14 C 11.5 14 12 13.5 12 13 C 12 12.5 12 1.5 12 1 C 12 0.5 11.5 0 11 0 Z M 11 12.5 C 11 12.75 10.765625 13 10.5 13 C 10.234375 13 6 13 6 13 L 6 12 L 3 12 L 3 13 C 3 13 1.765625 13 1.5 13 C 1.234375 13 1 12.734375 1 12.5 C 1 12.265625 1 11 1 11 L 11 11 C 11 11 11 12.25 11 12.5 Z M 11 10 L 3 10 L 3 1 L 11.015625 1 Z M 5 8 L 4 8 L 4 9 L 5 9 Z M 5 6 L 4 6 L 4 7 L 5 7 Z M 5 6 "/>
    </svg>
            Repositories <span class="Counter">{{ repo_count }}</span>
        </a>
        <a class="UnderlineNav-item {% if "/gists/" in request.path %}selected{% endif %}" href="{% url 'gist_list' %}">
            <svg class="octicon octicon-gist" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.5 5L10 7.5 7.5 10l-.75-.75L8.5 7.5 6.75 5.75 7.5 5zm-3 0L2 7.5 4.5 10l.75-.75L3.5 7.5l1.75-1.75L4.5 5zM0 13V2c0-.55.45-1 1-1h10c.55 0 1 .45 1 1v11c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1zm1 0h10V2H1v11z"></path></svg>
            Gists <span class="Counter">{{ gist_count }}</span>
     </a>
    </div>
</nav>
